*{
    box-sizing:border-box ;
    margin: 0px;
    padding: 0px;

}
.image{
    background-image:url("../quizzboard\ images/jsimage.png");
    height: 500px;
    color:yellow;
    font-size: xx-large;
}