*{
    box-sizing:border-box ;
    margin: 0px;
    padding: 0px;
    font-size: 45%;

}
.image{
    background-image:url("../quizzboard\ images/jsimage.png");
    height: 500px;
    color:yellow;
    font-size: xx-large;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    font-size: 150px;
    margin-left: 20%;
}

form label, form input {
    font-size: 30px;
}
.button{
    margin: 50px;
    width: 105px;
    text-align: center;
}
button{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 10px;
}
.blueimage{
    width: 100%;
}
.footer{
    text-align: center;
}